@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Lato',sans-serif;
  font-weight: 500;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1500px) {
  html {
    font-size: 50%;
  }
}